* { box-sizing: border-box; }
body {
  background-color: white;
  font-family: Helvetica, Arial;
}

.container {
  padding: 1em;
  max-width: 900px;
  margin: 0 auto;
}


.perc {
  display: inline-block;

  &.one   { width: 10%; }
  &.two   { width: 20%; }
  &.three { width: 30%; }
  &.four  { width: 40%; }
  &.five  { width: 50%; }
  &.six   { width: 60%; }
  &.seven { width: 70%; }
  &.eight { width: 80%; }
  &.nine  { width: 90%; }
  &.ten   { width: 100%;}
}

@import "components/menu";
@import "components/league_table";
