* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  background-color: white;
  font-family: Helvetica, Arial;
}

.container {
  padding: 1em;
  max-width: 600px;
  margin: 0 auto;
}


.titles {

}
.league-table {
  border: 1px solid #ccc;
  margin: 1em;
}

.league-table__row {
  padding: 0.5em;
  width: 100%;

  &:nth-child(even) {
    background-color: #efefef;
  }
}

.perc {
  display: inline-block;
  &.one { width: 10%; }
  &.two { width: 20%; }
  &.three { width: 30%; }
  &.four { width: 40%; }
  &.five { width: 50%; }
  &.six { width: 60%; }
  &.seven { width: 70%; }
  &.eight { width: 80%; }
  &.nine { width: 90%; }
  &.ten { width: 100%; }
}
